In [1]:
import numpy as np
import pandas as pd

We can create a Series from python lists (also from Numpy arrays)

In [2]:
myindex = ['USA','Canada','Mexico']

In [3]:
mydata = [1776,1867,1821]

In [4]:
myser = pd.Series(mydata)

In [5]:
myser

0    1776
1    1867
2    1821
dtype: int64

In [6]:
pd.Series(data = mydata,index = myindex)

USA       1776
Canada    1867
Mexico    1821
dtype: int64

In [7]:
ran_data = np.random.randint(0,100,4)

In [8]:
ran_data

array([37,  7, 36, 52])

In [9]:
names = ['Andrew','Bobo','Clarie','David']

In [10]:
ages = pd.Series(ran_data,names)

In [11]:
ages

Andrew    37
Bobo       7
Clarie    36
David     52
dtype: int32

## From Dictionary

In [12]:
ages = {'babar':26,'Virat':31,'Kane':28}

In [13]:
ages

{'babar': 26, 'Virat': 31, 'Kane': 28}

In [14]:
pd.Series(ages)

babar    26
Virat    31
Kane     28
dtype: int64

## Key ideas of a Series

In [15]:
q1 = {'Japan': 80, 'China': 450, 'India': 200, 'USA': 250}
q2 = {'Brazil': 100,'China': 500, 'India': 210,'USA': 260}

In [16]:
sales_q1 = pd.Series(q1)
sales_q2 = pd.Series(q2)

In [17]:
sales_q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [18]:
sales_q2

Brazil    100
China     500
India     210
USA       260
dtype: int64

In [21]:
## Value based on index
sales_q1['Japan']

80

In [22]:
## Value based on Integre based location
sales_q1[0]

80

## Operations

In [24]:
sales_q1.keys()

Index(['Japan', 'China', 'India', 'USA'], dtype='object')

In [25]:
sales_q1 * 2

Japan    160
China    900
India    400
USA      500
dtype: int64

In [26]:
sales_q1/100

Japan    0.8
China    4.5
India    2.0
USA      2.5
dtype: float64

## Between Series

In [27]:
sales_q1 + sales_q2

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64

In [28]:
sales_q1.add(sales_q2,fill_value = 0)

Brazil    100.0
China     950.0
India     410.0
Japan      80.0
USA       510.0
dtype: float64